<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
  {{% load i18n %}
  {% load account socialaccount %}
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

{% load static %}
  <link rel="stylesheet" href="{% static 'login/style.css' %}">

  <nav class="navbar-nav fixed-top" style="padding-left: 30px; padding-top: 15px;">
    <p class="navbar-brand" style="font-size: 50px;">
    <img src="{% static 'login/magistrate.png' %}" width="60" height="60" alt="">
        Tutor-Me
  </p>


</nav>


  <h1>{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}
<section style="justify-content: center;">
  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot" style="justify-content: center;">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}
</section>
<!--<form class="login" method="POST" action="{% url 'account_login' %}">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--  {% if redirect_field_value %}-->
<!--  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />-->
<!--  {% endif %}-->
<!--  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->
<!--  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>-->
<!--</form>-->

</body>
</html>
